body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    background-image: url(figs/mesa.png);
    color: silver;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.gallery{
    background-color: black;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
    width: 90px;
}

.gallery .description{
    padding: 0px;
    text-align: center;
}

.gallery:hover{
    border: 1px solid hsl(0, 0%, 20%);
}

.gallery img{
    width: 100%;
    height: auto;
}

.gallery img.grayscale {
    filter: grayscale(100%);
}

.sorteio{
    width: 530px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adivinhar img {
    width: 300px;
    height: 300px;
}

.texto {
    color: white;
    font-size: 25px;
    padding: 10px;
}